<a href="https://colab.research.google.com/github/Aiswaryaaa02/Introduction-to-Python/blob/main/20_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark=int(input())
if mark>50:
  print("YOU ARE PASSED")
else:
  print("YOU ARE FAILED")

80
YOU ARE PASSED

In [2]:
mark=int(input())
if mark>50:
  print("YOU ARE PASSED")
elif mark==50:
  print("JUST PASS")
else:
  print("YOU ARE FAILED")

50
JUST PASS

In [5]:
s=int(input('enter salary'))
if s>=250000:
  print("you are taxable")
elif s<250000:
  print("you are not taxable")

enter salary300000
you are taxable

In [6]:
s=int(input('Enter Salary :'))
if s>=250000:
  print("YOU ARE TAXABLE")
  x=s-250000
  print("TAX ",x*10/100)
elif s<250000:
  print("YOU ARE NOT TAXABLE")

Enter Salary :300000
YOU ARE TAXABLE
TAX  5000.0

In [10]:
s=int(input('Enter Salary :'))
if s>250000 and s<=500000:
  print("tax",s*10/100)
elif s>500000:
  print("tax",s*20/100)

Enter Salary :400000
tax 40000.0

In [24]:
s=int(input('Enter Salary :'))
if s>=250000 and s<=500000:
  print("YOU ARE TAXABLE")
  x=s-250000
  t=x*10/100
  print("tax",t)
elif s>500000:
  print("YOU ARE TAXABLE")
  y=s-500000
  T=y*20/100
  print("tax",y*20/100)
  z=t+T
  print("tax :",z)
elif s<250000:
  print("YOU ARE NOT TAXABLE")

Enter Salary :600000
YOU ARE TAXABLE
tax 20000.0

NameError: ignored