<a href="https://colab.research.google.com/github/Aiswaryaaa02/Introduction-to-Python/blob/main/FUNCTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def aiswarya():
  print("hello world")

In [ ]:
aiswarya()

hello world

In [ ]:
def aiswarya(x,y):
  z=x+y
  print("result =",z)

In [ ]:
aiswarya(5,6)

result = 11

In [ ]:
def aiswarya(x,y):
  z=x*y
  print("result =",z)

In [ ]:
aiswarya(2,5)

result = 10

In [ ]:
def aiswarya(x,y):
  z=x/y
  print("result =",z)

In [ ]:
aiswarya(10,2)

result = 5.0

In [ ]:
def aiswarya(x,y):
  z=x-y
  print("result =",z)

In [ ]:
aiswarya(10,5)

result = 5

In [ ]:
def x(sal):
  if sal>250000:
    print("you are taxable")
  if sal<250000:
    print("you are not taxable")

In [ ]:
sal=int(input("enter the salary"))
x(sal)

enter the salary300000
you are taxable

In [ ]:
def x(y):
  z=0
  for i in range(y):
    z=z+i
  print(z)

In [ ]:
n=int(input("enter the no"))
x(n)

enter the no10
45

In [41]:
def add(x,y):
  print(x+y)
def subtract(x,y):
  print(x-y)
def product(x,y):
  print(x*y)
def div(x,y):
  print(x/y)

In [42]:
x=int(input("enter the 1st number"))
y=int(input("enter the 2nd number"))
add(x,y)
subtract(x,y)
product(x,y)
div(x,y)

enter the 1st number10
enter the 2nd number5
15
5
50
2.0