<a href="https://colab.research.google.com/github/Aiswaryaaa02/Introduction-to-Python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
n=int(input("enter a number "))
for i in range(1,11):
  print(i,'*',n ,'=',i*n)

enter a number 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [13]:
n=input("enter a number ")
i=0
for j in n:
  i=i+1
print(i)

enter a number 456
3

In [9]:
n=int(input("enter a number "))
i=1
while (i<=10):
  print(i,'*',n ,'=',i*n)
  i=i+1

enter a number 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [21]:
x=input("enter a string")
w= ""
for i in x:  
  w=i+w
print(w)
if x==w: 
  print('true')
else:
  print('false')

enter a stringjunaid
dianuj
false

In [22]:
n=input("enter username")
a=input('enter a letter to search')
b=input("enter the letter to replace")
if a in n:
  print(n.replace(a,b))

enter usernameaidwarya
enter a letter to searchd
enter the letter to replaces
aiswarya

In [33]:
a=input("enter the name of country ")
b=input("enter the name of country")
c=input("enter the name of country")
d=input("enter the name of country")
e=input("enter the name of country")
l=[a,b,c,d,e]
print(sorted(l))
f=input("enter the name of country")
l.append(f)
print(l)

enter the name of country h
enter the name of countryhj
enter the name of countrygf
enter the name of countrygn
enter the name of countryfh
['fh', 'gf', 'gn', 'h', 'hj']
enter the name of countryhj
['h', 'hj', 'gf', 'gn', 'fh', 'hj']

ValueError: ignored

In [ ]:
fgfrhol
l