<a href="https://colab.research.google.com/github/Aiswaryaaa02/Introduction-to-Python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
travel_source=input("enter the travel source")
destination=input("enter the travel destination")
number_of_passengers=int(input("enter the number of passengers"))
print("travel source :",travel_source)
print("travel destination:",destination)
print("number of passengers : ",number_of_passengers)

enter the travel source bus
enter the travel destination chennai
enter the number of passengers  5
travel source :  bus
travel destination:  chennai
number of passengers :  5

In [7]:
ticket_fare=int(input("enter the total ticket fare"))
number_of_passengers=int(input("enter the number of passengers"))
x=ticket_fare/number_of_passengers
print("ticket fare per person ",x)

enter the total ticket fare10000
enter the number of passengers10
ticket fare per person  1000.0

In [11]:
name=input("enter the passenger name")
fare=int(input("enter the fare"))
print(name,fare)

enter the passenger namexyz
enter the fare500
xyz 500

In [12]:
total_fare=int(input("enter the total fare"))
if total_fare>10000:
  print("eligilble for discount")

enter the total fare200000
eligilble for discount

In [14]:
total_fare=int(input("enter the total fare"))
if total_fare>15000:
  print("eligible for 20% discount")
else:
  print("eligible for 10% discount")

enter the total fare200000
eligible for 20% discount

In [17]:
total_fare=int(input("enter the total fare"))
if total_fare>15000:
  x=total_fare*20/100
  print("eligible for 20% discount",x)
elif total_fare>10000 and total_fare<15000:
  y=total_fare*10/100
  print("eligible for 10% discount",y)
elif total_fare<10000:
  z=total_fare*5/100
  print("eligible for 5%discount",z)

enter the total fare20000
eligible for 20% discount 4000.0

In [18]:
total_fare=int(input("enter the total fare"))
if total_fare>15000:
  x=total_fare*20/100
  print("eligible for 20% discount",x)
elif total_fare>10000 and total_fare<15000:
  y=total_fare*10/100
  print("eligible for 10% discount",y)
elif total_fare<10000:
  z=total_fare*5/100
  print("eligible for 5%discount",z)

enter the total fare14000
eligible for 10% discount 1400.0

In [19]:
total_fare=int(input("enter the total fare"))
if total_fare>15000:
  x=total_fare*20/100
  print("eligible for 20% discount",x)
elif total_fare>10000 and total_fare<15000:
  y=total_fare*10/100
  print("eligible for 10% discount",y)
elif total_fare<10000:
  z=total_fare*5/100
  print("eligible for 5%discount",z)

enter the total fare5000
eligible for 5%discount 250.0

In [21]:
num=int(input("enter the number"))
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

enter the number-3
negative

In [30]:
age=float(input("enter the age"))
if age>=18:
  print("adult")
elif age>=13 and age<18:
  print("teenager")
elif age>=6 and age<13:
  print("kid")
elif age>=2 and age<5:
  print("toddler")
elif age<2:
  print("infant")

enter the age1
infant

In [32]:
initial=input("enter the initial of the name")
if initial in('a','e','i','o','u','A','E','I','O','U'):
  print(" vowel")
else:
  print("not vowel")

enter the initial of the namex
not vowel

In [33]:
name=input("enter the pasengers name")
for i in name:
  print(i)

enter the pasengers nameaiswarya
a
i
s
w
a
r
y
a

In [34]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [38]:
x=0
for i in range(1,11):
  x=x+i
  print(i,x)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [43]:
for i in range (5):
  for j in range(i):
    print(i, end='')
  print(" ")

1
22
333
4444